﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Closed.aspx.cs" Inherits="Closed" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
<h1>Under Development</h1>


<asp:TextBox ID="txtTesterLogin" runat="server" /> <asp:Button ID="btnLogin" Text="Tester Login" OnClick="btnLogin_OnClick" runat="server" />
</asp:Content>

